.text-editor-panel {
    display: flex;
    position: absolute;
    right: 10px;
    top: 0;
}

@media(max-width:425px) {
    .text-editor-panel {
        right: 6%;
        top: auto;
        bottom: 100%;
    }
}