.banner-body {
    height: 60vh;
}

.banner-vidjet-img {
    width: 100%;
    max-height: none;
}

@media(max-width:680px) {
    .banner-body {
        height: 40vh;
    }
}

@media(max-width:425px) {
    .banner-body {
        height: 35vh;
    }
}

@media(max-width:375px) {
    .banner-body {
        height: 30vh;
    }
}