@import url('./fonts.css');

.app {
    min-height: 100vh;
    /*     font-family: 'Montserrat reg'; */
}

img {
    max-width: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*  font-family: 'BebasNeueRegular'; */
}

#root {
    height: 100%;
    flex-grow: 1;
}

.input-text {
    background-color: #FFF;
    box-shadow: inset 0 1px 2px 0 #BDBDBD;
    border: none;
}

.label-text {
    color: #4F4F4F;
    font-size: 12px;
    line-height: 15px;
}

p {
    color: #254768;
}

.verticalDirection {
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.horizontalDirection {
    flex-direction: row;
}

.horizontalDirection {
    width: 100%;
    padding-left: 30%;
}


.horizontalDirection .menu-creation-container {
    justify-content: start;
    flex-direction: column;
    position: absolute;
    top: 68px;
    left: 0;
    width: 30%;
    bottom: 0;
    background: #fff;
    z-index: 9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    /* padding-left: 11%; */
}

.verticalDirection .menu-creation-container {
    justify-content: flex-end;
}

.horizontalDirection .menu-creation-container {
    justify-content: start;
    flex-direction: column;
}

/* scroll */
body::-webkit-scrollbar,
div::-webkit-scrollbar {
    width: 8px;
    height: 7px;
}


body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
    background-color: #254768;
}

body::-webkit-scrollbar-track-piece,
div::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #254768;
    border-radius: 8px;
}

body::-webkit-resizer,
div::-webkit-resizer {
    background-color: #254768;
}

/* Виджет карусель */

.carousel-indicators {
    bottom: -14%;
}

.carousel-indicators li {
    background-color: grey;
}

.carousel-inner {
    height: 60vh;
}

.carousel-inner {
    /*  height: 200px; */
}

.carousel-item {
    text-align: center;
}


/* Классы для основоного сайта убираем шапку и подвал  и padding*/

.main-header-container {
    display: none;
}

.footer {
    display: none;
}

.content {
    padding: 0;
}

.col {
    padding-left: 0;
    padding-right: 0;
}

.landing-btn {
    display: inline-block;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    border: none;
    font-weight: 400;
    background-repeat: no-repeat !important;
    user-select: none;
    padding: 7px 20px;
}

.landing-btn:hover {
    background: #fff !important;
    color: #FF7600 !important;
}

.landing-btn--orange {
    background: linear-gradient(to right, #FF7600, #ff9346, #F3CA3E);
    box-shadow: 3px 3px 8px 0px rgba(255, 118, 0, 1);
    color: #FFF;
}

.landing-btn--orange-light {
    background: #fff;
    border: 1px solid #FBC47A;
    box-shadow: 3px 3px 8px 0px rgba(255, 118, 0, 1);
    color: #FA9917;
}

.landing-btn--blue {
    border: 1px solid #BBD8F7;
    background: linear-gradient(88.73deg, #5690FF 1%, #BBD8F7 100%);
    box-shadow: 3px 3px 7px 0 #7BB4F1;
}

.landing-btn--blue-gradient {
    border-radius: 8px;
    background: linear-gradient(88.73deg, #FA9917 0%, #A590DF 43%, #713FFD 100%);
    box-shadow: 3px 3px 7px 0 #BDBDBD;
}

.landing-btn--purple-gradient {
    border-radius: 8px;
    background: linear-gradient(88.73deg, #BB0EB4 0%, #FFC3FD 100%);
    box-shadow: 3px 3px 7px 0 #BB0EB4;
}


@media(max-width:640px) {
    .carousel-inner {
        height: 52vh;
    }
}

@media(max-width:450px) {
    .carousel-inner {
        height: 40vh;
    }
}

@media(max-width:400px) {
    .carousel-inner {
        height: 27vh;
    }

    .horizontalDirection {
        padding-left: 0;
    }
}