.menu-creation-container {
    color: #4F4F4F;
    padding-top: 60px;
    position: relative;
    width: 100%;
    align-items: center;
    display: flex;
}

.add-menu-item {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FFF;
    border: 0.2px solid #254768;
    box-shadow: 0 1px 2px 0 #E0E0E0;
}

.menu-buttons-add-new {
    max-width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 14px;
}

.container-menu {
    flex-grow: 1;
    overflow-x: auto;
    margin-left: 20px;
}

.container-menu ul:nth-child(1) {
    padding-left: 10px;
}

@media(max-width:1024px) {
    .menu-creation-container {
        background: #ccc;
        padding: 10px;
        position: absolute;
        visibility: hidden;
        opacity: 1;
        transition: 0.6s;
        transform: translate(100%, 100%);
    }

    .menu-creation-container---view {
        visibility: visible;
        opacity: 1;
        transform: translate(4%, 11%);
    }
}

.menu-vertical {
    flex-direction: column;
}